<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/scoopify-logo.png" alt="Ice Cream Logo" style="height: 80px; width: auto;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="faqs-content">
    <h2>Frequently Asked Questions</h2>

    <ion-item>
      <ion-label>What ingredients are used in your ice cream?</ion-label>
      <p>We use high-quality, locally sourced ingredients to make our ice cream. All of our flavors are made with natural ingredients.</p>
    </ion-item>

    <ion-item>
      <ion-label>Do you offer dairy-free options?</ion-label>
      <p>Yes! We offer a variety of dairy-free ice cream options made from coconut milk or almond milk.</p>
    </ion-item>

    <ion-item>
      <ion-label>Can I customize my ice cream?</ion-label>
      <p>Absolutely! You can choose your base flavor, add toppings, and select any other customizations you'd like.</p>
    </ion-item>

    <ion-item>
      <ion-label>Do you offer delivery?</ion-label>
      <p>Yes, we offer delivery to select areas. Check our website for delivery options in your location.</p>
    </ion-item>
  </div>
</ion-content>

