<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/scoopify-logo.png" alt="Ice Cream Logo" style="height: 80px; width: auto;" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <!-- Check if the user is logged in -->
  <div *ngIf="!isAuthenticated(); else loggedInContent" class="empty-cart">
    <!-- User not logged in message -->
    <ion-icon name="person-circle" class="empty-cart-icon"></ion-icon>
    <p class="empty-product">You are not logged in</p>
    <ion-button expand="block" color="primary" (click)="goToLoginPage()">Log In</ion-button>
  </div>

  <div>
    <!-- Content when user is logged in -->
    <ng-template #loggedInContent>
      <div class="profile-header">
        <ion-icon name="person-circle" class="login-icon"></ion-icon>
        <ion-button (click)="editProfile()" fill="clear" color="primary" class="edit-icon">
          <ion-icon name="pencil" slot="start"></ion-icon>
          Edit Name
        </ion-button>
      </div>
      
      <!-- User Info -->
      <div class="profile-info">
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input [(ngModel)]="userProfile.name" [disabled]="!isEditing"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input [(ngModel)]="userProfile.email" [disabled]="true"></ion-input>
        </ion-item>
      </div>

      <!-- Save Changes (only visible when editing) -->
      <div *ngIf="isEditing">
        <ion-button expand="full" (click)="saveProfile()">Save Changes</ion-button>
      </div>

      <!-- Order History / Other Options -->
      <ion-item button (click)="viewOrderHistory()">
        <ion-label>View Order History</ion-label>
      </ion-item>

      <!-- Logout Button -->
      <ion-item button expand="full" (click)="presentLogoutAlert()">
        <ion-label>Log Out</ion-label>
      </ion-item>
    </ng-template>
  </div>
</ion-content>
