
.profile-header {
  display: flex;
  flex-direction: column;  /* Align items vertically */
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Space between avatar and profile info */
}

.login-icon{
  font-size: 90px;
  margin-top: 20px;
  color: #c32e2e;
}

.profile-info {
  margin-bottom: 20px;  /* Space below the user info section */
}


ion-item {
  --highlight-background: transparent;
  margin-bottom: 15px;  /* Space between ion-items for better separation */
}

ion-item button {
  margin-top: 10px;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-top: 20px; /* Adjust as needed for empty cart section */
}

.empty-cart-icon {
  font-size: 80px;
  color: gray;
  margin-bottom: 20px;
}

.empty-product {
  font-size: 18px;
  margin-bottom: 20px;
  color: gray;
}

.not-logged-in-button {
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
