<ion-content>
  <!-- Logo -->
  <div class="logincenter">
  <div class="logo-container">
    <img src="assets/img/scoopify-logo.png" alt="Scoopify Logo" class="logo" />
  </div>
  
  <!-- Login Form -->
  <div class="form-container">
    <div class="home-icon-container">
      <ion-icon
        name="home-outline"
        size="large"
        class="home-icon"
        (click)="navigateToHome()"
      ></ion-icon>
    </div>
    <h2 class="form-title">Welcome Back!</h2>
    <p class="form-subtitle">Please log in to continue.</p>

    <!-- Email Input -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        type="email"
        name="email"
        required
        #emailInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput?.invalid && emailInput?.touched">
      <p>Please enter a valid email.</p>
    </ion-text>

    <!-- Password Input -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        [type]="passwordVisible ? 'text' : 'password'"
        name="password"
        required
        #passwordInput="ngModel"
      ></ion-input>
      <ion-icon
        name="{{ passwordVisible ? 'eye-off' : 'eye' }}"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="passwordInput?.invalid && passwordInput?.touched">
      <p>Password is required.</p>
    </ion-text>

    <!-- Error Message -->
    <div *ngIf="message" class="message">
      <p>{{ message }}</p>
    </div>

    <!-- Login Button -->
    <ion-button expand="block" (click)="login()" color="primary">Login</ion-button>
  </div>

  <!-- Link to Register -->
  <p style="text-align: center; margin-top: 20px;">
    <a routerLink="/register" class="register-link">Don't have an account? Register here.</a>
  </p>
  </div>
</ion-content>
