<ion-content>
  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/img/scoopify-logo.png" alt="Logo" class="logo" />
  </div>

  <!-- Login Form -->
  <div class="form-container">
    <!-- Email Input -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        type="email"
        name="email"
        required
        #emailInput="ngModel"
      ></ion-input>
    </ion-item>
    <div *ngIf="emailInput?.invalid && emailInput?.touched" class="error-message">
      Please enter a valid email.
    </div>

    <!-- Password Input -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        [type]="passwordVisible ? 'text' : 'password'"
        name="password"
        required
        #passwordInput="ngModel"
      ></ion-input>
      <ion-icon
        name="{{ passwordVisible ? 'eye-off' : 'eye' }}"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <div *ngIf="passwordInput?.invalid && passwordInput?.touched" class="error-message">
      Password is required.
    </div>

    <!-- Error Message -->
    <div *ngIf="message" class="message">
      <p>{{ message }}</p>
    </div>

    <!-- Login Button -->
    <ion-button expand="full" (click)="login()">Login</ion-button>
  </div>

  <!-- Link to Register -->
  <p style="text-align: center; margin-top: 10px;">
    <a routerLink="/register">Don't have an account? Register here.</a>
  </p>
</ion-content>


