 ion-icon {
    cursor: pointer;
  }
  
  /* Add this CSS to align the form elements */
ion-content {
  --padding-top: 40px;
  --padding-bottom: 40px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 80px;
  height: auto;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
}

.error-message {
  color: red;
  font-size: 12px;
  padding-left: 15px;
}
.message {
  color: green;
  font-size: 14px;
  padding: 10px;
}

