<ion-content>
  <!-- Logo -->
<div class="registercenter">
  <div class="logo-container">
    <img src="assets/img/scoopify-logo.png" alt="Scoopify Logo" class="logo" />
  </div>

  <!-- Registration Form -->
  <div class="form-container">
      <div class="home-icon-container">
        <ion-icon
          name="home-outline"
          size="large"
          class="home-icon"
          (click)="navigateToHome()"
        ></ion-icon>
      </div>
    <h2 class="form-title">Create an Account</h2>
    <p class="form-subtitle">Join us and start your journey!</p>

    <!-- Name Input -->
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input
        [(ngModel)]="name"
        type="text"
        name="name"
        required
        #nameInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="nameInput?.invalid && nameInput?.touched">
      <p>Name is required.</p>
    </ion-text>

    <!-- Email Input -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        type="email"
        name="email"
        required
        #emailInput="ngModel"
      ></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="emailInput?.invalid && emailInput?.touched">
      <p>Please enter a valid email.</p>
    </ion-text>

    <!-- Password Input -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        [(ngModel)]="password"
        [type]="passwordVisible ? 'text' : 'password'"
        name="password"
        required
        #passwordInput="ngModel"
      ></ion-input>
      <ion-icon
        name="{{ passwordVisible ? 'eye-off' : 'eye' }}"
        slot="end"
        (click)="togglePasswordVisibility()"
      ></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="passwordInput?.invalid && passwordInput?.touched">
      <p>Password is required.</p>
    </ion-text>

    <!-- Error Message -->
    <div *ngIf="message" class="message">
      <p>{{ message }}</p>
    </div>

    <!-- Register Button -->
    <ion-button expand="block" (click)="register()" color="primary">
      Register
    </ion-button>
  </div>

  <!-- Link to Login -->
  <p style="text-align: center; margin-top: 20px;">
    <a routerLink="/login" class="register-link">Already have an account? Login here.</a>
  </p>
</div>
</ion-content>
