.team-content {
    padding: 20px;
  }
  
  .team-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  ion-card {
    margin-bottom: 20px;
  }
  
  ion-card img {
    max-width: 100%;
    height: auto;
  }
  
  ion-card-header {
    text-align: center;
  }
  
  ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  ion-card-subtitle {
    font-size: 16px;
    color: #666;
  }
  