.total-price {
    padding: 15px;
    text-align: center;
    background-color: #f8f8f8;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-top: 20px; /* Adjust as needed */
  }
  
  .empty-cart-icon {
    font-size: 80px;
    color: gray; /* Cart icon color */
    margin-bottom: 20px; /* Space between icon and text */
  }
  
  .empty-cart p {
    font-size: 18px;
    margin-bottom: 20px;
    color: gray;
  }
  .title-image {
    height: 80px; /* Adjust based on toolbar height */
    width: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Ensure it doesn't exceed toolbar height */
    object-fit: contain; /* Prevent distortion */
    margin: contain; /* Center the image if needed */
    display: block; /* Ensure the image is treated as a block-level element */
  }
  .page-content {
    padding-top: 60px; /* Adjust according to your toolbar height */
  }

  .price {
    font-weight: bold;
    color: green;
  }

  h2 {
    font-weight: bold;
  }
  
  .page-content {
    padding-top: 60px; /* Adjust according to your toolbar height */
  }

  .cartbutton{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }