.about-us-content {
    padding: 20px;
  }
  
  .about-us-content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-us-content h3 {
    font-size: 20px;
    color: #444;
    margin-top: 20px;
  }
  
  .about-us-content ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  