/* Add the following CSS for styling the no-orders message */
.no-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
    color: gray;
  }
  
  .no-orders ion-icon {
    font-size: 60px;
    margin-bottom: 10px;
  }
  
  .no-orders p {
    font-size: 18px;
  }
  